/* 布局 */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  li {
    flex-grow: 1;
    text-align: center;
    padding: 15px;
  }
  
  li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: 0.3s ease;
  }
  
  li a:hover {
    color: #2f4f4f;
  }
  
  /* 响应式 */
  @media (max-width: 700px) {
    nav {
      flex-direction: column;
    }
  
    li {
      padding: 10px;
      text-align: center;
      border-top: 1px solid #ccc;
    }
  
    li:first-child {
      border-top: none;
    }
  }
  .header{
    display: flex;
    background-color: #3498DB;
    color: white;
  }
  .box {
    width: 80vw;
    height: 100px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* 设置阴影 */
    border-radius: 10px; /* 设置圆角 */
  }
  #back-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 10px;
    font-size: 16px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .no {
    color: #999;
    font-size: 14px;
  }
  .content{
    position: absolute;
    left: 10vw;
  }