header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f4f4f;
    color: white;
    padding: 25px;
  }
  
  #brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  #brand:hover {
    text-decoration: underline;
  }